[submodule "catkin_simple"]
	path = submodules/catkin_simple
	url = https://github.com/catkin/catkin_simple.git
	branch = master
[submodule "separator"]
	path = submodules/separator
	url = https://github.com/mit-acl/separator.git
	branch = master
[submodule "behavior_selector"]
	path = submodules/behavior_selector
	url = https://gitlab.com/mit-acl/fsw/behavior_selector.git
	branch = master
[submodule "snapstack_msgs"]
	path = submodules/snapstack_msgs
	url = https://gitlab.com/mit-acl/fsw/snap-stack/snapstack_msgs.git
	branch = master
[submodule "submodules/minvo"]
	path = submodules/minvo
	url = https://github.com/mit-acl/minvo.git
[submodule "panther_extra_plus_plus"]
	path = submodules/panther_extra_plus_plus
	url = git@github.com:mit-acl/panther_extra_plus_plus.git
[submodule "pybind11"]
	path = submodules/pybind11
	url = https://github.com/pybind/pybind11
