
<robot name="name_robot">
  <link name="name_link">
    <inertial>
      <mass value="0.200" />
      <origin xyz="0 0 0" rpy="0 0 0" />
      <inertia ixx="5.8083e-4" ixy="0" ixz="0" iyy="3.0833e-5" iyz="0" izz="5.9083e-4" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://panther/meshes/ConcreteDamage01b/model4.dae" scale="0.6 0.6 0.3"/>
      </geometry>
    </visual>
  </link>
  <gazebo>
    <plugin name="move_model" filename="libmove_model.so">
    <traj_x>0.3333333333333333*(sin(t/1.5+-1.9787472399681203) + 2 * sin(2 * t/1.5+-1.9787472399681203))+1.0</traj_x>
    <traj_y>0.4*(cos(t/1.5+-1.9787472399681203) - 2 * cos(2 * t/1.5+-1.9787472399681203))+-1.9475911280146998</traj_y>
    <traj_z>1.0*(-sin(3 * t/1.5+-1.9787472399681203))+1.0</traj_z>
    </plugin>
  </gazebo>
</robot>
                